<div id="bienvenidaView" data-role="view" data-title="BodegasPerú" data-layout="main" data-model="app.bienvenida" data-init="app.bienvenida.dataInit" data-show="app.bienvenida.onShow" data-after-show="app.bienvenida.afterShow">
    </br>
    <img src="styles/img/ic-bienvenidosicon.png" />
    </br>
    <h1>Bienvenidos</h1>
    </br>
    <h3>Contamos con un equipo especializado en tecnología mobile de primer nivel en latino-américa.</h3>
    </br>
    <h3>Desarrollado por Valmar Group.</h3>
</div>