<div id="tiendaModelDetailsView" data-role="view" data-title="BodegasPerú" data-model="app.tienda.tiendaModel" data-bind="events: { show: detailsShow }">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left">Back</a>
            <span data-bind="text: currentItem['nombre']"></span>
        </div> 
        <div class="button-group">
            <a id="verListaBodegaDetalle" data-role="button" data-bind="events: { click: verListaTiendaDetalle }" class="primary">Detalle de Bodega</a>
            <a id="verMapaBodegaDetalle" data-role="button" data-bind="events: { click: verMapaTiendaDetalle }">Ubicación</a>
        </div>
    </header>
    
    <div id="divMapSeguimientoDetalle" align="center"></div>
    <div id="mapSeguimientoDetalle" style="width:100%;"></div>
    
    <div class="details-content">
        <div class="km-listview-wrapper">
            <span id="li-libre">
                <span class="font-azul" data-bind="text: currentItem.nombre"></span>
            </span>
            <ul class="km-listview km-list km-listinset details-fields">
<!--                 <h3 data-bind="text: currentItem.nombre"></h3> -->
                <img data-bind="attr: { src: currentItem.imagenUrl }" width="100%" height="auto">
                <li>
                    <span class="pull-left font-gris" >Dirección</span>
                    <span class="pull-right font-azul" data-bind="text: currentItem.direccion"></span>
                </li>
                <li>
                    <span class="pull-left font-gris">Telefono</span>
                    <span class="pull-right font-azul" data-bind="text: currentItem.telefono_local"></span>
                </li>
                <li>
                    <span class="pull-left font-gris">Movil</span>
                    <span class="pull-right font-azul" data-bind="text: currentItem.telefono_movil"></span>
                </li>
            </ul>
        </div>
    </div>
</div>