<div id="filtroTiendaView" data-role="view" data-title="tienda" data-layout="main" data-model="app.filtro" data-init="app.filtro.dataInit" data-show="app.filtro.onShow" data-after-show="app.filtro.afterShow">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left" class="backButtonWrapper" style="display: none;">Back</a>
            <!--             <span data-role="view-title"></span> -->
            <div style="text-align: left;">
                <i class="flaticon-magnifier"></i><input id="searchTienda" type="search" placeholder="Buscar Bodega" data-bind="{events:{keyup: getTiendaByname}}">
            </div>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
        </div>
    </header>
    <ul id="listadoTiendasAutocomplete" data-role="listview">
    </ul>
    </br>
    <div class="divSelects">
        <li class="txt-titulos">Departamento</li>
        <select id="departamento-select-filtro" data-bind="events: { change: getProvincias }"></select>
        <li class="txt-titulos">Provincia</li>
        <select id="provincia-select-filtro" data-bind="events: { change: getDistritos }"></select>
        <li class="txt-titulos">Distrito</li>
        <select id="distrito-select-filtro"></select>
        </br>
		</br>
        <div class="button-group button-group-vertical">
            <a class="primary" data-role="button" data-bind="events: { click: goToTiendaByDistrito }">Buscar Bodegas</a>
        </div>
    </div>
</div>