<div data-role="view" data-title="tienda" data-layout="main" data-model="app.tienda" data-init="app.tienda.dataInit" data-show="app.tienda.onShow" data-after-show="app.tienda.afterShow">
    <header data-role="header"> 
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left" class="backButtonWrapper" style="display: none;">Back</a>
            <!-- <span data-role="view-title"></span> -->
            <div class="km-filter-wrap">
                <input type="search" placeholder="Search..." data-bind="{events:{keyup: tiendaModel.searchChange}}">
            </div>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
            <a data-role="button" href="components/tienda/filtro.html" data-align="right" data-icon="reply"></a> 
        </div>
    </header>
    <ul class="masterDetailView" data-role="listview" data-auto-bind="false" data-style="" data-template="tiendaModelTemplate" data-bind="{ source: tiendaModel.dataSource, events: {click: tiendaModel.itemClick} }" data-pull-to-refresh="true" data-endless-scroll="true">
    </ul>
    <script type="text/x-kendo-template" id="tiendaModelTemplate">
        <div class="image-with-text">
            # data = app.tienda.tiendaModel.fixHierarchicalData(data); #
            <img src="#: data['imagenUrl'] #">
            <h3>#: data['nombre'] #</h3>
            <h3>#: data['costo_minimo'] #</h3>
            <h3>#: data['estado_abierto'] #</h3>
        </div>
    </script> 
</div>

<div data-role="modalview" id="modalview-alert" data-model="app.tienda" style="width: 90%;">
    <div data-role="header">
        <div data-role="navbar">
            <span>Modificar Filtros</span>
            <a onclick="closeModal('modalview-alert')" data-role="button" data-align="right" data-icon="reply"></a>
        </div>
    </div>
    <ul data-role="listview" data-style="inset">
        <li>
            <select id="departamento-modalview-alert"></select>
        </li>
        <li>
            <select id="provincia-modalview-alert"></select>
        </li>
        <li>
            <select id="distrito-modalview-alert"></select>
        </li>
    </ul>
    <div class="button-group">
        <a data-role="button" id="btn-modalview-alert" data-bind="events: { click: tiendaModel.aceptarModalviewAlert }">Aceptar</a>
    </div>
</div>