<div id="viewTiendaView" data-role="view" data-title="tienda" data-layout="main" data-model="app.tienda" data-init="app.tienda.dataInit" data-show="app.tienda.onShow" data-after-show="app.tienda.afterShow">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left" class="backButtonWrapper" style="display: none;">Back</a>
            <!-- <span data-role="view-title"></span> -->
            <div style="text-align: left;">
                <i class="flaticon-magnifier"></i><input id="searchTiendaDetalle" type="search" placeholder="Buscar Bodega" data-bind="{events:{keyup: tiendaModel.searchChange}}">
            </div>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
            <a data-role="button" href="components/tienda/filtro.html" data-align="right" data-icon="reply"></a>
        </div>
        <div class="button-group">
            <a id="verListaBodega" data-role="button" data-bind="events: { click: tiendaModel.verListaTienda }" class="primary">Lista de Bodegas</a>
            <a id="verMapaBodega" data-role="button" data-bind="events: { click: tiendaModel.verMapaTienda }">Mapa de Bodegas</a>
        </div>
    </header>
    <header data-role="header">
        <div id="divMapSeguimiento" align="center"></div>
        <div id="mapSeguimiento" style="width:100%;"></div>
    </header>
    <ul id="tiendaModelListView" class="masterDetailView" data-role="listview" data-auto-bind="false" data-style="" data-template="tiendaModelTemplate" data-bind="{ source: tiendaModel.dataSource, events: {click: tiendaModel.itemClick} }" data-pull-to-refresh="true">
    </ul>
    <script type="text/x-kendo-template" id="tiendaModelTemplate">
        <div class="image-with-text">
            <img src="styles/img/ic-img-listadobodegas.jpg">
            <h3><strong class="font-azul">#: data['nombre'] #</strong></h3>
            <h3><tag class="font-gris">Telef: </tag><strong>#: data['nombre'] #</strong></h3>
            <h3><tag class="font-gris">Dirección: </tag><strong>#: data['domicilio'] # #: data['numero'] #</strong></h3>
        </div>
    </script>
</div>
<div data-role="modalview" id="modalview-alert" data-model="app.tienda" style="width: 90%;">
    <div data-role="header">
        <div data-role="navbar">
            <span>Modificar Filtros</span>
            <a onclick="closeModal('modalview-alert')" data-role="button" data-align="right" data-icon="reply"></a>
        </div>
    </div>
    <ul data-role="listview" data-style="inset">
        <li>
            <select id="departamento-modalview-alert"></select>
        </li>
        <li>
            <select id="provincia-modalview-alert"></select>
        </li>
        <li>
            <select id="distrito-modalview-alert"></select>
        </li>
    </ul>
    <div class="button-group">
        <a data-role="button" id="btn-modalview-alert" data-bind="events: { click: tiendaModel.aceptarModalviewAlert }">Aceptar</a>
    </div>
</div>