<div id="perfilView" data-role="view" data-title="Perfil" data-layout="main" data-model="app.usuario" data-show="app.usuario.onShow" data-after-show="app.usuario.afterShow">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
            <span data-role="view-title"></span>
        </div>
    </header>
    <div class="signup-view">
        </br>
        <form>
            <ul data-role="listview" data-style="inset">
                <li class="li-1">
                    <input placeholder="Nombre" type="text">
                </li>
                <li class="li-2">
                    <input placeholder="Apellidos" type="text">
                </li>
                <li style="padding-right: 0;font-size:18px;">
                    <div class="pull-left" style="padding-left: 40px;">Género</div>
                    <div class="pull-right">
                        <ul id="generoUsuario" data-role="buttongroup" data-index="0">
                            <li>Hombre</li>
                            <li>Mujer</li>
                        </ul>
                    </div>
                </li>
                <li class="li-4">
                    <input placeholder="Correo" type="email" required>
                </li>
                <li class="li-5">
                    <input placeholder="Contraseña" type="password">
                </li>
                <li class="li-6">
                    <input placeholder="Confirmar Contraseña" type="password">
                </li>
            </ul>
            </br>
            <div class="center li-8">
                <a class="primary" data-role="button" >Guardar</a>
            </div>
        </form>
    </div>
    <div class="offline" align="center" style="display:none;">
        You are currently offline. Before using this app in offline mode you must initialize it while you are online
    </div>
</div>

<div data-role="modalview" id="modalview-alert-perfil" style="width: 70%;">
    <div data-role="header">
        <div data-role="navbar">
            <span>Mensaje</span>
            <a onclick="closeModal('modalview-alert-home')" data-role="button" data-align="right"><span class="flaticon-close"></span></a>
        </div>
    </div>
    <ul data-role="listview" data-style="inset">
        <input placeholder="Ingrese su contraseña actual"/>
    </ul>
    <div class="button-group">
        <a data-role="button" class="primary" data-bind="events: { click: usuarioModel.updateUsuario }">Aceptar</a>
    </div>
</div>